body {
    display: flex;
}


.menu-section {
    background-color: rgb(47, 206, 255);
    width: 20vw;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
}

.main-top {
    background-color: grey;
    height: 20vh;
    width: 80vw;;
}

.main-bottom {
    background-color: rgb(228, 228, 228);
    height: 80vh;
    width: 80vw;
}