body {
    background-color: rgb(228, 234, 236);
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
}


/*!!!!!!!!!!!!!! menu-section !!!!!!!!!!!!!!!!!!*/

.menu-section {
    background-color: rgb(37, 154, 223);
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 20vw;
    height: 100vh;
}

.menu-upper {
    display: flex;
    color: white;
    align-items: center;
}

.menu-upper > img {
    height: 53px;
    width: 53px;
    margin-left: 15px;
}

.menu-upper > h1 {
    margin-left: 20px;
}

.menu-item {
    display: flex;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.menu-item > img {
    height: 28px;
    width: 28px;
    margin-left: -13px;
    margin-right: 34px;
    
}

/*!!!!!!!!!!!!!!!!!!!! main section !!!!!!!!!!!!!!!!*/

.main {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.main-top {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 20vh;
    width: 100%;
}

.top-upper {
    display: flex;
    height: 35%;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
}

.top-upper > div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.top-upper img:nth-child(1) {
    width: 28px;
    height: 28px;
}

.top-upper img:nth-child(2) {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.search-input {
    background-color: rgb(228, 234, 236);
    border: 0;
    border-radius: 20px; /* Adjust the value to change the roundness */
    padding: 8px 12px;
    height: 2.5vh;
    width: 40vw;
    outline: none;
}

.top-lower {
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 65%;
    justify-content: space-between;
    align-items: center;
}

.top-lower div:first-child {
    display:flex;
    align-items: center;
}

.top-lower img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-left: 50px;
}

.top-lower div:first-child div {
    display:flex;
    flex-direction: column;
    margin-left: 30px;
}

.top-lower div:first-child h1,p {
    margin: 0;
}

.top-lower > div:nth-child(2) {
    display:flex;
    align-items: center;
    gap: 30px;
    margin-right: 30px;
}

.top-lower button {
    background-color: rgb(37, 154, 223);
    color: white;
    border: 0;
    height: 45px;
    width: 110px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!! Main Bottom !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.main-bottom {
    display: flex;
    height: 80vh;
    width: 100%;
    justify-content: space-between;
}

.main-bottom h3 {
    font-size: 1.3rem;
    margin-left: 20px;
}

.grid-container {
    width: 70%;
    height: 100%;
    overflow: scroll;
}

.your-project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
    row-gap: 20px;
    column-gap: 20px;
    padding-left: 20px;
    width: 90%;
    height: 90%;
}

.your-project-grid > div {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 3%;
    width: 95%;
    height: 350px;
    min-width: 510px;
    font-size: 1.2rem;
}

.your-project-grid h4 {
    margin: 70px 40px 0 40px;
}

.your-project-grid p {
    color: rgb(80, 80, 80);
    margin: 0 40px;
}

.your-project-grid > div > div {
    display: flex;
    justify-content: end;
    margin-top: 70px;
    margin-right: 40px;
    gap: 15px;
}

.your-project-grid > div > div img {
    width: 28px;
    height: 28px;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!! SIDE !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.side {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    overflow: hidden;
}

.side-bottom-upper {
    display: flex;
    flex-direction: column;
    height: 50%;
}

.announcement-flex {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 3%;
    margin-left: 20px;
    width: 75%;
    height: 75%;
    font-size: 0.75rem;
    padding: 10px 15px 10px 15px;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}

.announcement-flex::after {
    background: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* Adjust the gradient as needed */
}

.announcement-flex h4 {
    margin: auto 0;
}

.announcement-flex p {
    color: rgb(80, 80, 80);
}

.announcement-flex > div:nth-child(2n+1) {
    display: flex;
    flex-direction: column;
    width: 82%;
}

hr {
    border: none;
    border-top: 1px solid #dadada;
    overflow: visible;
    text-align: center;
    width: 10.5vw;
  }

.side-bottom-lower {
    width: 100%;
    height: 50%;
}

.trending-flex {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 3%;
    margin-left: 20px;
    width: 75%;
    height: 75%;
    font-size: 0.75rem;
    padding: 10px 15px 10px 15px;
    justify-content: space-around;
    align-items: baseline;
}

.trending-flex img {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.trending-flex h3 {
    font-size: 1rem;
}

.trending-flex > div {
    display: flex;
}